.seeAllButton {
  display: flex;
  justify-content: center;
  background-color: #ede9fe;
  border-radius: 0.125rem;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
}

.seeAllButton:hover {
  background-color: #ddd6fe;
}

.seeAll {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #8b5cf6;
  text-transform: uppercase;
}

.seeAllButton:hover > .seeAll > .arrow {
  font-size: 20px;
  transform: translateX(8px);
  transition: transform 0.3s ease-in-out;
}

.arrow {
  font-size: 20px;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.join::before {
  position: absolute;
  content: '';
  margin-left: 4rem;
  margin-top: 10px;
  background-color: grey;
  opacity: 0.25;
  height: 1px;
  width: 35vw;
}

.join::after {
  position: absolute;
  content: '';
  margin-left: 51rem;
  margin-top: -10px;
  background-color: grey;
  opacity: 0.25;
  height: 1px;
  width: 35vw;
}

.tabBackground {
  width: 100%;
  padding: 2rem;
  margin: 8rem 0 4rem 0;
  background-image: #ff0000;
  background-image: radial-gradient(
      at 62% 24%,
      hsla(28, 100%, 74%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 98% 6%, hsla(189, 100%, 56%, 1) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 85%, 93%, 1) 0, transparent 50%),
    radial-gradient(at 49% 81%, hsla(340, 100%, 76%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0, transparent 50%),
    radial-gradient(at 100% 100%, hsla(242, 100%, 70%, 1) 0, transparent 50%),
    radial-gradient(at 28% 28%, hsla(343, 100%, 76%, 1) 0, transparent 50%);
}

.tabTitle {
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.tabSelected {
  font-size: 2rem;
  line-height: 1.5rem;
  font-weight: bolder;
  color: white;
  opacity: 1;
  cursor: pointer;
}

.tabTitle:hover {
  opacity: 1;
}

.cardTitle {
  line-height: 1.5rem;
  width: 16rem;
  font-size: 1.2rem;
  font-weight: 900;
  color: #afb5be;
  opacity: 0.75;
  cursor: pointer;
}

.cardTitle:hover {
  color: #7b7c7e;
  opacity: 1;
}
